/* variable */

/* global rule */
*{ 
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-family: "Poppins", sans-serif;
}
 header{
   display: flex;
   justify-content: space-between;
   width: 100%;
   align-items: center;
   background-color: #808080;
   padding: 10px;
   position: fixed;
   z-index: 1;
 
 }
 nav ul {
   display: flex;
 }
 header h1{
   color: #0e0edaaf;
   letter-spacing: 2px;
   padding-left: 20px;
   font-size: 38px;
   font-weight: 600;
 }
 nav ul li{
   margin-right: 30px;
   list-style: none;
 }
 nav ul li a{
   color: rgba(3, 3, 152, 0.523);
   text-decoration: none;
   font-size: 20px;
   font-weight: 400;
   letter-spacing: 1px;
   transition: 0.4;
 }
 nav ul li a:hover{
  background-color: #0000ff88;
  color: white;
  border-radius: 6px;
  padding: 5px;
 }
 section {
   padding: 200px 100px;
 }
 
 body {
   display: inline-block;
 width: 100%;
  max-height: 100vh;

   background-image:url(images/portfolio-1.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   background-position:center ;

 }
 section .main h2{
   font-size: 20px;
   color: rgb(30, 27, 27);
   font-weight: 400;
   padding: 20px;
   letter-spacing: 1px;
 }
 .main h2 span{
   font-weight: 700px;
   font-size: 30px;
   letter-spacing: 1px;
color: blue;
 }
 .main h3{
   font-size: 22px;
   font-weight: 400;
   letter-spacing: 1px;
   color: rgb(30, 27, 27);
 }
 .main .button{
   display: inline-block;
   margin: 20px 0;
   
 }
 .main .button a{
background-color: #0000ff88;
color: white;
border-radius: 6px;
text-decoration: none;
padding: 10px;
font-size: 20px;
font-weight: 400;
letter-spacing: 2px;
transition: 0.4s ease;
 }
 .main .button :hover{
   background-color: blue;
   margin-left: 10px;
 }
  .icon a{
 display: inline-block;  
   margin: 20px 15px;
 }
 .icon a i{
   font-size: 22px;
   color: black;
 }
 .services{
  width: 100%;
  height: fit-content;
  background-color: aliceblue;
   
   
 }
 .services h2,.projects .title h2 ,.contact .title h2{
  color: #2200ff;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;
margin-bottom: 20px;
 }
  .content{
  display: flex;
  justify-content: center;
   flex-wrap: wrap;
 }
 .box,.card {
  background-color: white;
  width: 300px;
  box-shadow: 0 5px 25px  grey;
 margin: 5px;
  padding: 10px;
 transition: 0.4s;
 }
 .box i{
  color: #260fbbd2;
  font-size: 36px;
  margin-bottom: 10px;
  
 }
 .box h3{
  color: #2200ff;
  margin-bottom: 5px;
  font-size: 20px;
font-weight: 500;
letter-spacing: 1px;
 

 }
 .box p,.card .info p{
  color: #333;
  letter-spacing: 1px;
  line-height: 1.6;
  font-weight: 200;
  
 }
 .box:hover,.card:hover{
   transform: scale(1.1);
 }
 
 .card .image img{
  width: 100px;
  height: 100px;
 }
 .card .info strong {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
 }
 .card .info strong a{
  text-decoration: none;
  color: black;
 }
 .projects{
  width: 100%;
  height: fit-content;
  background-color: rgba(75, 50, 50, 0.906);
 }
 .contact{
  width: 100%;
  height: fit-content;
  background-color: white;
 }
 footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background-color:#808080;
 }
 footer p{
  color: rgba(3, 3, 152, 0.523);
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 1px;
  
 }
 
 